@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --background-base: #121212;
    --background-eleveted-base: #1f1f1f;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html {
    font-size: 16px;
    /* Set a base font size */
}
body {
    width: 100%;
    height: 100%;
    background-color: black;
}
/*<=======================================

-----------------nav bar------------------

========================================>*/
nav {
    margin-top: 20px;
    background-color: rgba(255, 40, 40, 0.726);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
}
.logo-img {
    height: 2.5rem;
    margin-left: 20px;
}
.search-rapper  {
    display: flex;
    align-items: center;
    gap: 2px;
}
.home-btn {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: none;
    background-color: #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.home-img {
    height: 1.5rem;
}
.search {
    margin-left: 2px;
    background-color: var(--background-eleveted-base);
    border-radius: 30px;
    height: 3rem;
    width: 25rem;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.search-img {
    height: 2rem;
    opacity: 0.8;
}
.search input {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 1rem;
    width: 100%;
    margin-left: 10px;
}
.playlist-div {
    height: 20px;
    border-inline-start: 1px solid #7c7c7c;
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.playlist-img{
    height: 1.5rem;
}
.playlist-btn {
    margin-left: 10px;
    border: none;
    background-color: #1f1f1f;
}