@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #000000;
}

.left {
    width: 25vw;
}

.right {
    width: 75vw;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-top: 10px;
}
/*<=======================================

---------------search bar-----------------

========================================>*/
.icon {
    position: absolute;
    left: 20px;
    align-content: start
}

#search-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.round-white {
    padding: 10px;
    height: fit-content;
    border-radius: 50%;
    background-color: #1f1f1f;
}

.search-bar {
    background-color: #1f1f1f;
    padding: 15px 20px;
    border: none;
    border-radius: 40px;
    outline: white;
    color: white;
    font-size: 1.2rem;
    width: 25vw;
    height: 50px;
}

.border-icon {
    height: 30px;
}

.search-bar::-moz-selection {
    background: white;
    color: black;
}

.search-bar::selection {
    background: white;
    color: black;
}
/*<=======================================

-------------button & others--------------

==========================================>*/
#install-app-btn {
    background-color: #07070700;
    color: white;
    padding: 10px 20px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}