:root{
  --background-base: #121212;
  --background-eleveted-base: #1f1f1f;
  
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.boder-red {
  border: 1px solid red;
}

.border-blue {
  border: 1px solid blue;
}

.color-invart {
  filter: invert(1);
}
